<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>cn.astrianzheng.rolldice</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>217C0F1A-14A9-460D-BA10-1C686835699C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C2FED2D0-FBFF-407E-8542-76708B8D7218</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5AD35A12-3127-458F-BEEA-DC10B5CF0433</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>217C0F1A-14A9-460D-BA10-1C686835699C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Astrian Zheng</string>
	<key>description</key>
	<string>让你在 Alfred 上投跑团骰子，虽然并没有多少人会在跑团时开着电脑。</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>跑团掷骰子</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>试试在任意输入框按下 ⌘V。</string>
				<key>title</key>
				<string>投掷结果已复制</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>C2FED2D0-FBFF-407E-8542-76708B8D7218</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>roll</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./node_modules/.bin/run-node app.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>以 xdy 格式输入...</string>
				<key>title</key>
				<string>投几次几面骰？</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>5AD35A12-3127-458F-BEEA-DC10B5CF0433</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>217C0F1A-14A9-460D-BA10-1C686835699C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>https://github.com/Astrian/trpgrolldice</string>
	<key>uidata</key>
	<dict>
		<key>217C0F1A-14A9-460D-BA10-1C686835699C</key>
		<dict>
			<key>xpos</key>
			<integer>275</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>5AD35A12-3127-458F-BEEA-DC10B5CF0433</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>C2FED2D0-FBFF-407E-8542-76708B8D7218</key>
		<dict>
			<key>xpos</key>
			<integer>440</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/Astrian/trpgrolldice</string>
</dict>
</plist>
